<h1>Профіль <%= "#{@user.user_detail.surname} #{@user.user_detail.name} #{@user.user_detail.mid_name}" %></h1>
<div>
  <% @user.trip_dates.each do |trip| %>
    <%= "#{trip.date_from} ... #{trip.date_to}" %><br />
  <% end %>
</div>