<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Зарегистрирован новый учасник</h1>
    <p>
      ФІО: <br />
      <%= "#{@user.user_detail.surname} #{@user.user_detail.surname} #{@user.user_detail.surname}" %>  
    </p>
    <p>
      Дата народження <%= date_to_text @user.user_detail.birthday %>
    </p>
    
    <h3>Контакти:</h3>
    <p>
      Пошта: <%= @user.email %>
    </p>
    <p>
      Телефон: <%= @user.phones.join(', ') %>
    </p>
  </body>
</html>