/* h1{
	display: inline;
}

.header {
	background-color:#EEE;
	margin-top: 0;
	.logo {
		margin: 10px 0;
	}
}

.main_nav {
	background-color:#444;
	height:40px;
	ul {
		list-style:none;
		li {
			float:left;
			a {
				font-size:16px;
				font-weight: bold;
				color:#FFF;
				line-height:40px;
				&:hover {
					color: $adr_color;
				}
			}
		}
	}
}

div.content_list {
	.heading {
		background-color: #ABABAB;
		line-height: 12px;
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.record {
		background-color: #EFEFEF;
		line-height: 15px;
		margin-bottom: 1px;
		padding-top: 8px;
		padding-bottom: 8px;
		
		&:hover {
			background-color: #E0E0E0;
		}

		.revised {
			margin-right: 5px;
			width: 12px;
			height: 12px;
			float:left;
			background-image: image_url('revised.png');
		}
		.not_revised {
			width: 12px;
			height: 12px;
			float:left;
			margin-right: 5px;
			background-image: image_url('not-revised.png');
		}
		.reg_timestamp, .town_office {
			font-size: 10px;
		}
	}
	.odd {
		background-color: #FAFAFA;
	}
}

div.center_align {
	padding-top: 18px;
}

label {
	color: #444;
}

input[type='text'], input[type='email'], input[type='password'] {
	height: 20px;
	width: 200px;
	font-size: 14px;
	background-color: #ffffcc;

	&[readonly="readonly"] {
		background-color: #ffffee;
	}
}

div {
	.grid_8 input {
		width: 440px;
	}
	.grid_4 input {
		width: 200px;
	}
	.grid_2 input {
		width: 90px;
	}
	input[type='checkbox'] {
		width: 20px;
	}
}

input[type='text'].for_number  {
	width: 90px;
}

div.input_item {
	margin-bottom: 10px;
}

legend {
	font-size: 16px;
	font-weight: bold;
}

textarea {
	font-size: 14px;
	background-color: #ffffcc;
}

div.bottom_stroke {
	padding: 5px 0;
	margin-top: -10px;
	border-top: 1px dotted #D0D0D0;
	border-bottom: 2px dotted white;
}

div.dynamic_container.input_item.bottom_stroke:first-child {
	margin-top: 0px;
}

div.fieldset_outline {
	padding-bottom:10px;
	outline: 1px #E0E0E0 solid;
}

div.fieldset_shadow {
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
	background-color: #EFEFEF;
	@include uni-box-shadow(2px, 2px, 10px, #E5E5E5);
}

.paginator {
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
}

.footer {
	background-color:#EEE;
	height: 42px;
	width: 100%;
	margin-top: 12px;
}

#registration_notice {
	background-color: #EFEFEF;
	.inner_plate {
		overflow: hidden;
		p {
			padding: 10px 10px;
			font-size: 18px;
			font-weight: bold;
			margin: 0;
		}
	}
} */