$adr_color: #ef4e23;
$row_h: 10px;

@mixin uni-border-radius($rad: 3px) {
	-moz-border-radius: #{$rad};
	-webkit-border-radius: #{$rad};
	border-radius: #{$rad};
}

@mixin uni-box-shadow($shear_hor: 1px, $shear_vert: 1px, $shadow_size: 2px, $shadow_color: #888) {
	-moz-box-shadow: $shear_hor $shear_vert $shadow_size $shadow_color;
	-webkit-box-shadow: $shear_hor $shear_vert $shadow_size $shadow_color;
	box-shadow: $shear_hor $shear_vert $shadow_size $shadow_color;
}

a {
	color: #111;
	&:hover {
		color: $adr_color;
	}
}

h2 {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.remove_icon {
	padding: 15px 0 15px 25px;
	height:30px;
	background-image: url(image_path("db-icons-del.png"));
	background-position: 0% 6px;
	background-repeat: no-repeat;

	&:hover, &:focus {
		background-image: url(image_path("db-icons-del-or.png"));
		background-position: 0% 6px;
		background-repeat: no-repeat;
	}
}

.good-button {
	padding: 2px 4px 2px 4px;
	border: 1px solid #555;
	text-decoration: none;
	background-color: #DDD;
	@include uni-box-shadow(1px, 1px, 2px, #DDD);

	&:hover {
	border: 1px solid $adr_color;
	@include uni-box-shadow(1px, 1px, 8px, #999);
	background-color: #EEE;
	}
}

.simple_remove_icon {
	display:block;
	width:30px;
	height:30px;
	background-image: url(image_path("db-icons-del.png"));
	background-position: -5px -5px;
	background-repeat: no-repeat;

	&:hover, &:focus {
		background-image: url(image_path("db-icons-del-or.png"));

		background-repeat: no-repeat;
	}
}

input[type="text"].datefield {
	width: 8em;
	background-image: url(image_path("db-icons-cal.png"));
	background-position: 105% -3px;
	background-repeat: no-repeat;
  overflow: hidden;

  &:hover, &:focus {
  	background-image: url(image_path("db-icons-cal-or.png"));
		background-position: 105% -3px;
		background-repeat: no-repeat;
  }
}