$adr_color: #ef4e23;
$row_h: 10px;

@mixin uni-border-radius($rad: 3px) {
	-moz-border-radius: #{$rad};
	-webkit-border-radius: #{$rad};
	border-radius: #{$rad};
}

@mixin uni-box-shadow($shear_hor: 1px, $shear_vert: 1px, $shadow_size: 2px, $shadow_color: #888) {
	-moz-box-shadow: $shear_hor $shear_vert $shadow_size $shadow_color;
	-webkit-box-shadow: $shear_hor $shear_vert $shadow_size $shadow_color;
	box-shadow: $shear_hor $shear_vert $shadow_size $shadow_color;
}

a {
	color: #111;
	&:hover {
		color: $adr_color;
	}
}

h2 {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.good-button {
	padding: 2px 4px 2px 4px;
	border: 1px solid #555;
	text-decoration: none;
	background-color: #DDD;
	@include uni-box-shadow(1px, 1px, 2px, #DDD);

	&:hover {
	border: 1px solid $adr_color;
	@include uni-box-shadow(1px, 1px, 8px, #999);
	background-color: #EEE;
	}
}