<p>Привіт <%= @email %>!</p>

<p>Вам необхідно підтвердити свою реєстрацію шляхом переходу по посиланню:</p>

<p><%= link_to 'Підтвердити', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
