<p>Привіт <%= @resource.email %>!</p>

<p>Хтось, а може й Ви хоче змінити пароль. Щоб змінити пароль перейдіть по посиланню наведеному нижче.</p>

<p><%= link_to 'Змінити пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Якщо Ві не хочете міняти пароль просто проігноруйте цей лист.</p>
<p>Ваш пароль не буде змінено доки Ви не перейдете по посиланню і не введете новий пароль.</p>
