<p>Привіт <%= @resource.email %>!</p>

<p>Ваш аккаунт було заблоковано, томущо хтось дуже багато раз безуспішно намагався увійти до профілю.</p>

<p>Перейдіть по посиланню наведеному нижче, аби розблокувак аккаунт:</p>

<p><%= link_to 'Розблокувати мій аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
