<header class="full-width header-area">
  <div class="row">
    <div class="large-3 columns">
      <%= admins_access { link_to (image_tag 'adrenalin-logo.png'), root_path } %>
      <%= link_to((image_tag 'adrenalin-logo.png'), new_user_session_path) if current_user.nil? %>
    </div>
    <div class="large-7 columns center" id="header-contacts">
        Якщо у Вас виникли питання:<br />
        тел.: (044) 232-77-04, (093) 466-3999,<br /> e-mail: im@adrenalin-ua.com
    </div>
  	<div class="large-2 columns">
			<%= link_to 'Вийти', destroy_user_session_path, method: :delete, class: 'radius small button right', id: 'sign-out-button' if !current_user.nil? %>
    </div>
  </div>
</header>