<div class="header">
	<div class="container_16">
		<div class="grid_5 logo">
			<%= link_to (image_tag 'adrenalin-logo.png'), root_path %>
		</div>
    <div class="grid_8">
      Якщо у Вас виникли питання:<br />
      тел.: (044) 232-77-04, (093) 466-3999<br />
      e-mail: im@adrenalin-ua.com
    </div>
		<div class="grid_2 prefix_9">
			<%= link_to 'Вийти', destroy_user_session_path, method: :delete if !current_user.nil? %>
		</div>
		<div class="clear"></div>
	</div>
</div>