<div class="header">
	<div class="container_16">
		<div class="grid_5 logo">
			<%= link_to (image_tag 'adrenalin.png'), root_path %>
		</div>
		<div class="grid_2 prefix_9">
			<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
		</div>
		<div class="clear"></div>
	</div>
</div>