<div class="main_nav">
	<div class="container_16">
		<ul>
			<li><%= link_to 'Головна', root_path %></li>
      <li><%= link_to 'Додати нового члена', new_user_path %></li>
			<li><%= link_to 'Міста', towns_path %></li>
		</ul>
	</div>
</div>