<div class="main_nav">
	<div class="container_16">
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Administration', admins_path %></li>
			<li><%= link_to 'Towns', towns_path %></li>
		</ul>
	</div>
</div>